<h1>Edit Flashcard</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.user_flashcard_path(@conn, :update, @flashcard, @user)) %>

<span><%= link "Back", to: Routes.user_flashcard_path(@conn, :index, @user.id) %></span>
