
<div class="container">
  <div class="jumbotron center">
    <h1><%= gettext "¡Bienvenidos a %{name}!", name: "Mejorarse" %></h1>
    <p>El mejor lugar para mejorar tu español<br/>fuck u chris</p>
  </div>
</div>
